<!-- <nav>
    <mat-toolbar style="justify-content: center;">
        <span >To do list</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
</nav> -->
<!-- <div class="container h-full grid">
    <div class="log self-center">
        <div class="pl-40 to fit ">
            <mat-card class="w-11/12 items-center bg-purple-300">
                <mat-card-header><h3>Log in or Register here</h3></mat-card-header>
                <form>
                    <mat-form-field class="w-96" appearance="outline">
                        <input matInput placeholder="EMAIL">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="w-96" appearance="outline">
                        <input matInput placeholder="Password">
                    </mat-form-field>
                </form>
                <mat-card-actions><button mat-raised-button>Log In</button></mat-card-actions>
            </mat-card>
        </div>
    </div>
</div> -->

<router-outlet/>